<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1>Customer List</h1>
<div>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="col-2">
                <a href="/customer/create-customer" name="keyword" class="btn btn-outline-primary">create new Customer</a>
            </div>
            <div class="col-2">
                <a href="/" class="btn btn-outline-primary">Back to Home</a>
            </div>
            <div class="col-8">
                <form class="d-flex">
                    <input class="form-control me-2" type="text" name="keyword" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>
<table class="table table-dark table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>BirthDay</th>
        <th>Gender</th>
        <th>IdCard</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Customer type</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tbody>
    <tr th:each="customer :${customers}">
        <td th:text="${customer.customerId}"></td>
        <td th:text="${customer.customerName}"></td>
        <td th:text="${customer.customerBirth}"></td>
        <td th:text="${customer.customerGender}"></td>
        <td th:text="${customer.customerIdCard}"></td>
        <td th:text="${customer.customerPhone}"></td>
        <td th:text="${customer.customerEmail}"></td>
        <td th:text="${customer.customerAddress}"></td>
        <td th:text="${customer.customerTypeId.customerTypeName}"></td>
        <td><a href="#" class="btn btn-warning">View</a></td>
        <td><a th:href="@{customer/edit-customer(id = ${customer.customerId})}" class="btn btn-primary">Edit</a></td>
        <td>
            <button type="button" class="btn btn-danger buttonDelete" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" th:data1="${customer.customerId}" th:data2="${customer.customerName}"
                    onclick="del(this.getAttribute('data1'),this.getAttribute('data2'))">Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a class="btn btn-info" th:href="@{/customer(page=${customers.number - 1},keyWord=${keyword})}"
       th:if="${customers.hasPrevious()}">Previous</a>

    <span th:text="${customers.number+1}"></span>/<span th:text="${customers.totalPages}"></span>

    <a class="btn btn-info" th:href="@{/customer(page=${customers.number + 1},keyWord=${keyword})}"
       th:if="${customers.hasNext()}">Next</a>
</div>

<!-- Button trigger modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">delete customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/customer/delete-customer" method="post">
                    <input type="hidden" id="customerId" name="id" readonly>
                    <p id="customerId2"></p>
                    <p id="customerName"></p>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"> Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    function del(id, name) {
        document.getElementById("customerId").value = id;
        document.getElementById("customerName").innerText = name;
        document.getElementById("customerId2").innerText = id;
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>