<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1 class="d-flex justify-content-center">Create service</h1>
<div class="d-flex justify-content-center">
    <form th:action="@{/service/edit-service}" th:object="${serviceDto}" method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{serviceId}">

        <div class="form-group row mt-3">
            <label for="inputName" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputName" th:field="*{serviceName}" style="width: 280px">
                <small style="color: red" th:errors="*{serviceName}"></small>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="inputArea" class="col-sm-3 col-form-label">Area</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputArea" th:field="*{serviceArea}" style="width: 280px">
                <small style="color: red" th:errors="*{serviceArea}"></small>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="inputCost" class="col-sm-3 col-form-label">Cost</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputCost" th:field="*{serviceCost}" style="width: 280px">
                <small style="color: red" th:errors="*{serviceCost}"></small>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="inputMaxPeople" class="col-sm-3 col-form-label">Max people</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputMaxPeople" th:field="*{serviceMaxPeople}" style="width: 280px">
                <small style="color: red" th:errors="*{serviceMaxPeople}"></small>
            </div>
        </div>


        <div class="form-group row mt-3">
            <label for="inputRentType" class="col-sm-3 col-form-label">Rent Type</label>
            <div class="col-sm-6">
                <select id="inputRentType" th:field="*{rentType}" style="width: 280px">
                    <option th:each="rentTypes :${rentType}" th:value="${rentTypes.rentTypeId}"
                            th:text="${rentTypes.rentTypeName}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="inputServiceType" class="col-sm-3 col-form-label">Service Type</label>
            <div class="col-sm-6">
                <select id="inputServiceType" th:field="*{serviceType}" style="width: 280px">
                    <option th:each="serviceTypes :${serviceType}" th:value="${serviceTypes.serviceTypeId}"
                            th:text="${serviceTypes.serviceTypeName}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="inputStandRoom" class="col-sm-3 col-form-label">Standard room</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputStandRoom" th:field="*{standardRoom}" style="width: 280px">
                <small style="color: red" th:errors="*{standardRoom}"></small>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="inputDescriptionOtherConvenience" class="col-sm-3 col-form-label">Phone Number</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputDescriptionOtherConvenience" th:field="*{descriptionOtherConvenience}" style="width: 280px">
                <small style="color: red" th:errors="*{descriptionOtherConvenience}"></small>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="inputEmail" class="col-sm-3 col-form-label">Pool area</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputEmail" th:field="*{poolArea}" style="width: 280px">
                <small style="color: red" th:errors="*{poolArea}"></small>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="inputNumberOfFloor" class="col-sm-3 col-form-label">Number of floor</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputNumberOfFloor" th:field="*{numberOfFloor}" style="width: 280px">
                <small style="color: red" th:errors="*{numberOfFloor}"></small>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary"> Create service</button>
            <a href="/service" class="btn btn-secondary" data-bs-dismiss="modal">Back to list</a>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>