<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
<a href="/create-category">Create new category</a>
<h1>Provinces</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="categoty : ${categories}">
        <tr>
            <td th:text="${categoty.name}"></td>
            <td><a th:href="@{/edit-categoty/__${categoty.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-categoty/__${categoty.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>